In [2]:
import pandas as pd

df = pd.read_csv('../../data/raw/v_forest.csv')

/var/folders/sn/vtf5wp8x6vldjnk3w88mk9zr0000gn/T/ipykernel_39339/882032220.py:3: DtypeWarning: Columns (0,1,6,14,15,16,32,39,42) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../../data/raw/v_forest.csv')

In [3]:
df.head()

,_id,author,parent,quoted,mentions,hashtags,depth,node_type,quote_ancestors,tweet_ancestors,...,deidentmentions,deidentscreenname,deidentname,timebucket,horiz_offset,influence_tweet_factor,left,vert_offset,location,vert_correct
0,3787575861,34116377,NaN,NaN,['34116377'],[],0,Root,[],[],...,"[['Scott Morrison', 'ScottMorrisonMP']]",ScottMorrisonMP,Scott Morrison,2009-09-05 23:00,0.5,1.767156,True,0.437778,"Australian Capital Territory, Australia",True
1,5433639942,34116377,NaN,NaN,['34116377'],[],0,Root,[],[],...,"[['Scott Morrison', 'ScottMorrisonMP']]",ScottMorrisonMP,Scott Morrison,2009-11-04 23:15,0.5,0.778151,False,0.320000,"Australian Capital Territory, Australia",True
2,289077574649409537,335469402,NaN,NaN,['335469402'],"['bushfires', 'scorchio', 'australia', 'weather']",0,Root,[],[],...,"[['Hugh Cook-Bullock', 'HughCookBullock']]",HughCookBullock,Hugh Cook-Bullock,2013-01-09 18:30,0.5,0.602060,True,0.265556,United Kingdom,True
3,316243081693384705,335469402,NaN,NaN,"['347665801', '335469402', '288009920', '28085...","['neighboursuk', 'easterbilby']",0,Root,[],[],...,"[['Rosa-Maria Stokes', 'RosaMariaStokes'], ['L...",RoselMarieJohn,Rosel Marie John,2013-03-25 17:30,0.5,0.845098,False,0.666667,United Kingdom,True
4,345123067816706048,1512911756,NaN,NaN,['1512911756'],[],0,Root,[],[],...,"[['Billy Butler', 'BillyButler']]",BillyButler,Billy Butler,2013-06-13 10:15,0.5,1.176091,True,0.251111,Unknown,True

In [9]:
# Drop data with empty display_text
df = df.dropna(subset=['display_text'])
# Extract 'ArsonEmergency' and update to df_arson
df_arson = df[df['display_text'].str.contains('ArsonEmergency')]

In [10]:
df_arson.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1399 entries, 12122 to 487438
Data columns (total 43 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   _id                     1399 non-null   object
 1   author                  1399 non-null   object
 2   parent                  456 non-null    float64
 3   quoted                  596 non-null    float64
 4   mentions                1399 non-null   object
 5   hashtags                1399 non-null   object
 6   depth                   1399 non-null   object
 7   node_type               1399 non-null   object
 8   quote_ancestors         1399 non-null   object
 9   tweet_ancestors         1399 non-null   object
 10  children                1399 non-null   float64
 11  tree_authors            1399 non-null   object
 12  tree_hashtags           1399 non-null   object
 13  tree_users              1399 non-null   object
 14  author_keynode          1399 non-null   object
 15  hashtag_keynode         1399 non-null   object
 16  valid                   1399 non-null   object
 17  created_at              1399 non-null   object
 18  created_at_dt           1399 non-null   object
 19  display_text            1399 non-null   object
 20  display_text_range      1399 non-null   object
 21  extended_entities       263 non-null    object
 22  favourite_count         1399 non-null   float64
 23  lang                    1399 non-null   object
 24  quote_count             1399 non-null   float64
 25  reply_count             1399 non-null   float64
 26  retweet_count           1399 non-null   float64
 27  urls                    1399 non-null   object
 28  text                    1399 non-null   object
 29  child_nodes             1399 non-null   object
 30  influence_tweet         1399 non-null   float64
 31  influence_user          1399 non-null   float64
 32  verified                1399 non-null   object
 33  deidentmentions         1399 non-null   object
 34  deidentscreenname       1399 non-null   object
 35  deidentname             1399 non-null   object
 36  timebucket              1399 non-null   object
 37  horiz_offset            1399 non-null   float64
 38  influence_tweet_factor  1399 non-null   float64
 39  left                    1399 non-null   object
 40  vert_offset             1399 non-null   float64
 41  location                1399 non-null   object
 42  vert_correct            1399 non-null   object
dtypes: float64(12), object(31)
memory usage: 480.9+ KB

In [11]:
# Extract data with AustraliaFire and update to df_fire
df_fire = df[df['display_text'].str.contains('AustraliaFire')]

In [12]:
df_fire.info()

<class 'pandas.core.frame.DataFrame'>
Index: 60928 entries, 5278 to 490650
Data columns (total 43 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   _id                     60928 non-null  object
 1   author                  60928 non-null  object
 2   parent                  7818 non-null   float64
 3   quoted                  14029 non-null  float64
 4   mentions                60928 non-null  object
 5   hashtags                60928 non-null  object
 6   depth                   60928 non-null  object
 7   node_type               60928 non-null  object
 8   quote_ancestors         60928 non-null  object
 9   tweet_ancestors         60928 non-null  object
 10  children                60928 non-null  float64
 11  tree_authors            60928 non-null  object
 12  tree_hashtags           60928 non-null  object
 13  tree_users              60928 non-null  object
 14  author_keynode          60928 non-null  object
 15  hashtag_keynode         60928 non-null  object
 16  valid                   60928 non-null  object
 17  created_at              60928 non-null  object
 18  created_at_dt           60928 non-null  object
 19  display_text            60928 non-null  object
 20  display_text_range      60928 non-null  object
 21  extended_entities       19221 non-null  object
 22  favourite_count         60928 non-null  float64
 23  lang                    60928 non-null  object
 24  quote_count             60928 non-null  float64
 25  reply_count             60928 non-null  float64
 26  retweet_count           60928 non-null  float64
 27  urls                    60928 non-null  object
 28  text                    60928 non-null  object
 29  child_nodes             60928 non-null  object
 30  influence_tweet         60928 non-null  float64
 31  influence_user          60928 non-null  float64
 32  verified                60928 non-null  object
 33  deidentmentions         60928 non-null  object
 34  deidentscreenname       60928 non-null  object
 35  deidentname             60928 non-null  object
 36  timebucket              60928 non-null  object
 37  horiz_offset            60928 non-null  float64
 38  influence_tweet_factor  60928 non-null  float64
 39  left                    60928 non-null  object
 40  vert_offset             60928 non-null  float64
 41  location                60928 non-null  object
 42  vert_correct            60928 non-null  object
dtypes: float64(12), object(31)
memory usage: 20.5+ MB